<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.depository_manage.mapper.shift.ProductionOrderMapper">
    <resultMap id="BaseResultMap" type="com.depository_manage.entity.shift.ProductionOrder">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="order_date" property="orderDate" />
        <result column="customer" property="customer" />
        <result column="outer_inner_ring" property="outerInnerRing" />
        <result column="model" property="model" />
        <result column="quantity" property="quantity" />
        <result column="delivery_date" property="deliveryDate" />
        <result column="status" property="status" />
        <result column="priority" property="priority" />
        <result column="finished_quantity" property="finishedQuantity" />
        <result column="remark" property="remark" />
    </resultMap>
</mapper>