<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.depository_manage.mapper.shift.ShiftScheduleMapper">

    <resultMap id="CalendarEventResultMap" type="com.depository_manage.pojo.shift.CalendarEventDTO">
        <id column="scheduleId" property="id" />
        <result column="title" property="title" />
        <result column="start" property="start" />
        <result column="end" property="end" />
        <result column="startTime" property="shiftStartTime" />
        <result column="endTime" property="shiftEndTime" />
        <result column="color" property="color" />
    </resultMap>
    <resultMap id="ShiftScheduleResultMap" type="com.depository_manage.entity.shift.ShiftSchedule">
        <id property="scheduleId" column="scheduleId" />
        <result property="scheduleDate" column="scheduleDate" />
        <result property="teamID" column="teamID" />
        <result property="shiftCode" column="shiftCode" />
        <result property="startDateTime" column="startDateTime" />
        <result property="endDateTime" column="endDateTime" />
        <result property="remark" column="remark" />
        <result property="createTime" column="createTime" />
        <result property="updateTime" column="updateTime" />
    </resultMap>
    <select id="selectCalendarEvents" resultMap="CalendarEventResultMap">
        SELECT
            s.scheduleId,
            s.teamID AS title,
            DATE_FORMAT(s.startDateTime, '%Y-%m-%dT%H:%i:%s') AS start,
            DATE_FORMAT(s.endDateTime,   '%Y-%m-%dT%H:%i:%s') AS end,
            DATE_FORMAT(s.startDateTime, '%H:%i:%s') AS startTime,
            DATE_FORMAT(s.endDateTime, '%H:%i:%s') AS endTime,
CASE s.teamID
    WHEN '一班' THEN '#1e9fff'
    WHEN '二班' THEN '#1e9fff'
    WHEN '三班' THEN '#1e9fff'
    ELSE '#9f9f43'
        END AS color
    FROM shift_schedule s
    WHERE s.startDateTime BETWEEN #{startDate} AND #{endDate}
    </select>


    <insert id="insertSchedule"
            parameterType="com.depository_manage.entity.shift.ShiftSchedule"
            useGeneratedKeys="true"
            keyProperty="scheduleId">
        INSERT INTO shift_schedule
            (scheduleDate, teamID, shiftCode, startDateTime, endDateTime, remark)
        VALUES
            (#{scheduleDate},
             #{teamID},
             #{shiftCode},
             #{startDateTime},
             #{endDateTime},
             #{remark})
    </insert>



    <update id="updateSchedule" parameterType="com.depository_manage.entity.shift.ShiftSchedule">
        UPDATE shift_schedule
        SET
            scheduleDate = #{scheduleDate},
            teamID = #{teamID},
            shiftCode = #{shiftCode},
            startDateTime = #{startDateTime},
            endDateTime = #{endDateTime},
            remark = #{remark},
            updateTime = NOW()
        WHERE scheduleId = #{scheduleId}
    </update>

    <delete id="deleteSchedule" parameterType="long">
        DELETE FROM shift_schedule WHERE scheduleId=#{scheduleId}
    </delete>

    <select id="selectById" resultType="com.depository_manage.entity.shift.ShiftSchedule">
        SELECT * FROM shift_schedule WHERE scheduleId=#{scheduleId}
    </select>
    <delete id="deleteByIds">
        DELETE FROM shift_schedule
        WHERE scheduleId IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 查询某一天的排班 -->
    <select id="selectByDate" resultType="com.depository_manage.entity.shift.ShiftSchedule">
        SELECT *
        FROM shift_schedule
        WHERE scheduleDate = #{date}
        ORDER BY startDateTime
    </select>

    <!-- 查询某一天某班组的排班 -->
    <select id="selectByDateAndTeam" resultType="com.depository_manage.entity.shift.ShiftSchedule">
        SELECT *
        FROM shift_schedule
        WHERE scheduleDate = #{date}
          AND teamID = #{teamId}
        ORDER BY teamID
    </select>

    <delete id="deleteByDate">
        DELETE FROM shift_schedule
        WHERE scheduleDate = #{date}
    </delete>
    <select id="findByDate" resultMap="ShiftScheduleResultMap">
        SELECT * FROM shift_schedule
        WHERE scheduleDate = #{date}
    </select>
</mapper>
